{
  "presets": [
    [
      "env", {
        "exclude": [
          "transform-es2015-typeof-symbol"
        ]
      }
    ],
    "react"
  ],
  "plugins": [
    [
      "module-resolver",
      {
        "alias": {
          "cxs": "./src"
        }
      }
    ]
  ]
}
